.footer-section {
  padding: 32px 0;
  padding-bottom: 32px;
  background-color: rgb(216, 216, 216);
  color: black;
}

.footer-section .container {
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content {
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid black;
}

.footer-text {
  display: block;
  margin: 0;
  margin-bottom: 32px;
  max-width: 300px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: black;
}


.footer-contact-container {
  display: flex;
  justify-content: space-between;
}

.footer-contact {
  font-style: normal;
   color: black;
}

.footer-contact-text {
  display: block;
  margin-bottom: 14px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
 color: black;
}

.footer-contact-list {
  font-size: 16px;
  line-height: 1.29;
  letter-spacing: -0.02em;
 color: black;
}

.footer-contact-item {
  display: block;
  margin-bottom: 4px;
  color: black;
}

.footer-contact-link {
  transition: color 250ms var(--timing-function);
   color: black;
}

.footer-social-media-list {
  display: flex;
  gap: 14px;
}

.footer-social-media-link {
  color: black;
  transition: color 250ms var(--timing-function);
}

.footer-icon {
  fill: currentColor;
  display: block;
  width: 30px;
  height: 30px;
}
.footer-navigation-list {
  color: black;
}
.fni {
  color: black;
}

.footer-navigation-item {
  display: block;
  color: black;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.footer-navigation-link {
  transition: color 250ms var(--timing-function);
}

.footer-social-media-link:is(:hover, :focus),
.footer-contact-link:is(:hover, :focus),
.footer-navigation-link:is(:hover, :focus) {
  color: var(--accent-color);
}

/* ------------------------Media----------------------------- */

@media screen and (min-width: 375px) {
  .footer-section .container {
    max-width: 375px;
  }
}

@media screen and (max-width: 767px) {
  .footer-navigation-item:not(:last-child) {
    margin-bottom: 18px;
  }
}

@media screen and (min-width: 768px) {
  .footer-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer-section .container {
    max-width: 744px;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    margin-bottom: 24px;
  }

  .footer-text {
    font-size: 22px;
    line-height: 1.35;
    margin-bottom: 0;
  }

  .footer-contact-container {
    gap: 50px;
  }

  .footer-social-media-list {
    gap: 18px;
  }

  .footer-navigation-list {
    display: flex;
    gap: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-section .container {
    max-width: 1176px;
  }

  .footer-content {
    padding-bottom: 28px;
    margin-bottom: 24px;
  }
}
