<footer class="footer-section" id="footer">
    <div class="container">
        <div class="footer-content">
            <b class="footer-text"><span class="footer-accent-text">Ein Fotoshooting</span> ist die perfekte Möglichkeit, die schönsten Erinnerungen festzuhalten.</b>
            <div class="footer-contact-container">
                <address class="footer-contact">
                    <b class="footer-contact-text">Kontaktieren Sie mich</b>
                    <ul class="footer-contact-list">
                        <li class="footer-contact-item"><a href="tel:+491711130312"
                                class="footer-contact-link">+49 171 113-03-12</a></li>
                        <li><a href="mailto:simplychoc@gmail.com"
                                class="footer-contact-link">sophiayaroshenk@gmail.com</a>
                        </li>
                    </ul>
                </address>
                <ul class="footer-social-media-list">
                    <li><a href="https://www.instagram.com/yaroshenko.art/" class="footer-social-media-link" target="_blank"
                            rel="noopener noreferrer" aria-label="Instagram"><svg class="footer-icon">
                                <use href="/img/sprite.svg#icon-instagram"></use>
                            </svg></a></li>                  
                </ul>
            </div>
        </div>
        <ul class="footer-navigation-list">
            <li class="footer-navigation-item"><a href="#hero" class="footer-navigation-link">Heim</a></li>
            <li class="footer-navigation-item"><a href="#adv" class="footer-navigation-link">Über mich</a></li>
            <li class="footer-navigation-item"><a href="#how-its-made" class="footer-navigation-link">Preis</a></li>
            <li class="footer-navigation-item"><a href="#products" class="footer-navigation-link">Galerie</a>
            </li>
                    </ul>
    </div>
</footer>