<section id="gallery" class="section__our-products">
  <div class="our-products__container container">
    <h2 class="our-products__title">
      GALERIE
    </h2>

    <div class="our-products__block">
      <ul class="our-products__list swiper-wrapper list">

        <li class="our-products__item swiper-slide">
          <img srcset="
           /img/hero/img-1.jpg    1x,
          /img/hero/img-1.jpg@2x.jpg 2x
        " src="/img/hero/img-1.jpg" alt="products3" loading="lazy" class="our-products__image" width="230" />
          <div class="our-products__descr">
            <h3 class="our-products__name">Personal / Event</h3>
            <p class="our-products__type">вeispiel mit 10 fotos</p>
            <button class="our-products__price open-gallery" data-gallery="personal">Fotos</button>
          </div>
        </li>

    
        <li class="our-products__item swiper-slide">
          <img srrcset="
          /img/hero/img-7.jpg    1x,
          /img/hero/img-7.jpg@2x.jpg 2x
        " src="/img/hero/img-7.jpg" alt="products6" loading="lazy" class="our-products__image"
            width="230" />
          <div class="our-products__descr">
            <h3 class="our-products__name">Hochzeiten</h3>
            <p class="our-products__type">вeispiel mit 10 fotos</p>
            <button class="our-products__price open-gallery" data-gallery="hochzeiten">Fotos</button>
          </div>
        </li>

        <li class="our-products__item swiper-slide">
          <img srrcset="
         /img/hero/img-8.jpg    1x,
         /img/hero/img-8.jpg@2x.jpg 2x
        " src="/img/hero/img-12.jpg" alt="products7" loading="lazy" class="our-products__image"
            width="230" />
          <div class="our-products__descr">
            <h3 class="our-products__name">Hochzeitspaket</h3>
            <p class="our-products__type">вeispiel mit 10 fotos</p>
            <button class="our-products__price open-gallery" data-gallery="hochzeitspaket">Fotos</button>
          </div>
        </li>
       </ul>
    


    <!-- Приховані галереї (не видно на сторінці) -->
<div class="hidden-galleries">

  <!-- personal -->
  <div class="personal-gallery item_gallery" id="personal" style="display: none;">
    <a href="/img/hero/img-1.jpg" data-title="img1">
      <img src="/img/hero/img-1.jpg" alt="">
    </a>
    <a href="/img/hero/img-3.jpg" data-title="img1">
      <img src="/img/hero/img-3.jpg" alt="">
    </a>
       <a href="/img/hero/img-5.jpg" data-title="img1">
      <img src="/img/hero/img-5.jpg" alt="">
    </a>
     </a>
       <a href="/img/hero/img-14.jpg" data-title="img1">
      <img src="/img/hero/img-14.jpg" alt="">
    </a>
     </a>
       <a href="/img/hero/img-15.jpg" data-title="img1">
      <img src="/img/hero/img-15.jpg" alt="">
    </a>
  </div>

  <!-- hochzeiten -->
  <div class="hochzeiten-gallery item_gallery" id="hochzeiten" style="display: none;">
      <a href="/img/hero/img-2.jpg" data-title="img1">
      <img src="/img/hero/img-2.jpg" alt="">
    </a>
    <a href="/img/hero/img-4.jpg" data-title="img1">
      <img src="/img/hero/img-4.jpg" alt="">
    </a>
       <a href="/img/hero/img-6.jpg" data-title="img1">
      <img src="/img/hero/img-6.jpg" alt="">
    </a>
     </a>
       <a href="/img/hero/img-7.jpg" data-title="img1">
      <img src="/img/hero/img-7.jpg" alt="">
    </a>
     </a>
       <a href="/img/hero/img-12.jpg" data-title="img1">
      <img src="/img/hero/img-12.jpg" alt="">
    </a>
  </div>
</div>
    
  <!-- hochzeitspaket -->
  <div class="hochzeitspaket-gallery item_gallery" id="hochzeitspaket" style="display: none;">
       <a href="/img/hero/img-2.jpg" data-title="img1">
      <img src="/img/hero/img-2.jpg" alt="">
    </a>
    <a href="/img/hero/img-4.jpg" data-title="img1">
      <img src="/img/hero/img-4.jpg" alt="">
    </a>
       <a href="/img/hero/img-6.jpg" data-title="img1">
      <img src="/img/hero/img-6.jpg" alt="">
    </a>
     </a>
       <a href="/img/hero/img-7.jpg" data-title="img1">
      <img src="/img/hero/img-7.jpg" alt="">
    </a>
     </a>
       <a href="/img/hero/img-12.jpg" data-title="img1">
      <img src="/img/hero/img-12.jpg" alt="">
    </a>
  </div>
</div>

      </div>
    <div class="our_products__swiper-pagination"></div>
  </div>
</section>