<header class="header" id="header">
  <div class="container header-nav">
    <nav class="nav">
      <a href="./index.html" class="nav-link logo"><span>YAROSHENKO SOFIYA</span>
        <svg class="icon-logo">
          <use href="./img/sprite.svg#icon-camera"></use>
        </svg>
      </a>

      <ul class="nav-list">
        <li class="nav-item">
        <a href="#about" id="about" class="nav-link">Über mich</a>
        </li>
        <li class="nav-item">
        <a href="#price" id="gallery" class="nav-link">Preis</a>
        </li>
        <li class="nav-item">
        <a href="#gallery" id="price" class="nav-link">Galerie</a>
        </li>
        </ul>

      <button type="button" class="mobile-menu-open js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
        <svg class="mobile-menu-open_icon">
          <use href="./img/sprite.svg#icon-burger-menu"></use>
        </svg>
      </button>
    </nav>
    <address class="address">


      <ul class="nav-list-social">
        <li>
          <a href="https://www.instagram.com/yaroshenko.art/" class="nav-link" target="_blank"
            rel="noopener noreferrer">
            <svg class="icon-social">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </address>
  </div>
</header>

<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="mobile-menu-container">
    <button class="menu-toggle js-close-menu">
      <svg class="icon-x-close">
        <use href="./img/sprite.svg#icon-x-close"></use>
      </svg>
    </button>

    <ul class="mobile-menu">
      <li><a href="#about" id="about" class="link-mobile">Über mich</a></li>
      <li><a href="#gallery" id="gallery" class="link-mobile">Galerie</a></li>
      <li><a href="#price" id="price" class="link-mobile">Preis</a></li>
    </ul>

    <ul class="menu-list-social">
      <li>
        <a href="https://www.instagram.com/" class="nav-link-mobile-menu" target="_blank">
          <svg class="icon-social white">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      </ul>
  </div>
</div>