<section id="hero" class="hero">
  
  <div class="gallery">

    <h1 class="hero-title visually-hidden">Hero</h1>
    <h2 class="hero-desc">
      MUNICH
    </h2>
    <h3 class="hero-desc-2">photographer</h3>

 <img src="/img/hero/img-1.jpg" class="photo photo-1" alt="">
 <img src="/img/hero/img-2.jpg"  class="photo photo-2" alt="">
 <img src="/img/hero/img-3.jpg" class="photo photo-3" alt="">
 <img src="/img/hero/img-4.jpg" class="photo photo-4" alt="">
    <!-- накладені маленькі фото -->
 <img src="/img/products/stu-1.jpg" class="photo photo-5" alt="">
 <img src="/img/hero/img-5.jpg"  class="photo photo-6" alt="">
 <img src="/img/hero/img-6.jpg" class="photo photo-7" alt="">
 <img src="/img/hero/img-7.jpg" class="photo photo-8" alt="">
 <img src="/img/hero/img-8.jpg" class="photo photo-9" alt="">
 <img src="/img/hero/img-9.jpg"  class="photo photo-10" alt="">
 <img src="/img/hero/img-10.jpg" class="photo photo-11" alt="">
 <img src="/img/hero/img-11.jpg" class="photo photo-12" alt="">
 <img src="/img/hero/img-12.jpg" class="photo photo-13" alt="">
 <img src="/img/hero/img-13.jpg" class="photo photo-14" alt="">
 <img src="/img/hero/img-1.jpg" class="photo photo-15" alt="">
 <img src="/img/hero/img-1.jpg" class="photo photo-16" alt="">
 
</div>

    <div class="button-hero-cont">
      <div class="scroll-down-cont">
        <p class="scroll-down">nach unten scrollen</p>
        <a class="scroll-down-button" href="#footer">
          <svg class="icon-scroll-down" width="22" height="22">
            <use href="./img/sprite.svg#icon-scroll-down"></use>
          </svg>
        </a>
      </div>
    </div>
</section>