<section class="unique-components" id="price">
    <div class="container unique-components-container">
        <h2 class="unique-components-heading">
            Angebote / Preise
        </h2>

        <ul class="components-list">

            <li class="components-list-item">
                <div class="component-flip-card">
                    <div class="component-flip-card-inner">
                        <div class="component-flip-card-front">
                            <picture>
                                <source srcset="
                    /img/hero/img-1.jpg    1x,
                    /img/hero/img-1.jpg-tab-mob@2x.png 2x
                  " media="(max-width: 1199px)" />

                                <source srcset="
                    /img/hero/img-1.jpg    1x,
                    /img/hero/img-1.jpg 2x
                  " media="(min-width: 1200px)" />

                                <img src="/img/hero/img-1.jpg" alt="top cameras"
                                    loading="lazy" />
                            </picture>
                            <p>Personal / Event</p>
                        </div>


                        <div class="component-flip-card-back">
                            <p class="component-flip-card-back-heading">Personal / Portrait / Couple / Event</p>
                            <div class="component-flip-card-back-buttons">
                                <button class="component-flip-card-back-button">
                                    200 €
                                </button>
                            
                            </div>
                            <p class="component-flip-card-back-description">
                               Leistungen:
Stunde exklusives Fotoshooting
Persönliche Styling-Beratung
(Auswahl von Outfits aus deiner eigenen Garderobe)
150–200 hochwertig bearbeitete Fotos
inklusive Farbkorrektur und Retusche
Fertige Bilder innerhalb von 10 Tagen
<br>
Hinweis:<br>
Studiomiete ist nicht im Preis enthalten
Durchschnittlicher Studio­preis: 100 € / Stunde

 </p>
                        </div>
                    </div>
                </div>
            </li>

           
            <li class="components-list-item">
                <div class="component-flip-card">
                    <div class="component-flip-card-inner">
                        <div class="component-flip-card-front">
                            <picture>
                                <source srcset="
                    /img/ingridients/ingredients3-tab-mob.png    1x,
                    /img/ingridients/ingredients3-tab-mob@2x.png 2x
                  " media="(max-width: 1199px)" />

                                <source srcset="
                    /img/hero/img-4.jpg    1x,
                    /img/ingridients/ingredients3-desk@2x.png 2x
                  " media="(min-width: 1200px)" />

                                <img src="/img/ingridients/ingredients3-tab-mob.png" alt="studio" loading="lazy" />
                            </picture>
                            <p>Hochzeiten</p>
                        </div>
                        <div class="component-flip-card-back">
                            <p class="component-flip-card-back-heading">Hochzeiten</p>
                            <div class="component-flip-card-back-buttons">
                                <button class="component-flip-card-back-button">700 €</button>
                             
                            </div>
                            <p class="component-flip-card-back-description">
                                Hochzeitspaket bis 4 Stunden — 700 €
Bis zu 4 Stunden fotografische Begleitung
Dezente, dokumentarische Hochzeitsreportage
600–800 edel bearbeitete Bilder
inklusive Farbkorrektur und Retusche
Lieferung innerhalb von 10 Tagen </p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="components-list-item">
                <div class="component-flip-card">
                    <div class="component-flip-card-inner">
                        <div class="component-flip-card-front">
                            <picture>
                                <source srcset="
                    /img/ingridients/ingredients4-tab-mob.png    1x,
                    /img/ingridients/ingredients4-tab-mob@2x.png 2x
                  " media="(max-width: 1199px)" />

                                <source srcset="
                    /img/hero/img-5.jpg    1x,
                    /img/ingridients/ingredients4-desk@2x.png 2x
                  " media="(min-width: 1200px)" />

                                <img src="/img/ingridients/ingredients4-tab-mob.png" alt="software"
                                    loading="lazy" />
                            </picture>
                            <p>Hochzeitspaket</p>
                        </div>
                        <div class="component-flip-card-back">
                            <p class="component-flip-card-back-heading">
                               Hochzeitspaket bis 8 Stunden
                            </p>
                            <div class="component-flip-card-back-buttons">
                                <button class="component-flip-card-back-button">
                                   1300 €
                                </button>
                           
                            </div>
                            <p class="component-flip-card-back-description">
                               Bis zu 8 Stunden fotografische Begleitung
Umfassende Begleitung eures Hochzeitstages
1200–1600 edel bearbeitete Bilder
inklusive Farbkorrektur und Retusche
Lieferung innerhalb von 10 Tagen</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>