.hero {
    position: relative;
      height: 300vh;
      overflow: hidden;
         box-sizing: border-box;
         padding: 0;
         }
         
.hero-desc {
  position: absolute;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: var(--primary-font-color);
  display: block;
  text-align: right;
  margin-bottom: -515px;
  max-width: 290px;
}

.hero-desc-2 {
    position: absolute;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: var(--primary-font-color);
  display: block;
  text-align: right;
  margin-bottom: -15px;
  max-width: 290px;
}
  
.button-hero-cont {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 0px;
  flex-wrap: wrap;
}
.hero-buttons {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}
.scroll-down-cont {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  gap: 12px;
  z-index: 20;
}
.scroll-down {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  display: block;
  padding: 0px;
  margin: 0px;
  color: var(--primary-font-color);
}
.scroll-down-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: none;
  background-color: var(--primary-font-color);
  cursor: pointer;
  fill: var(--accent-color);
  transition: background-color 250ms var(--timing-function),
    transform 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.scroll-down-button:hover,
.scroll-down-button:focus {
  background-color: var(--accent-color);
  fill: var(--secondary-font-color);
  transform: rotate(-90deg);
}



.gallery {
      position: relative;
      height: 100dvh;
      min-height: -webkit-fill-available;
      height: -webkit-fill-available;
      overflow: hidden;
      min-height: 800px;
      display: grid;
      grid-template-columns: 1.2fr 0.8fr  1.0fr;
      grid-template-rows: 380px 380px 380px 380px 48vw 420px 420px ;
      grid-auto-rows: minmax(200px, max-content);
      gap: 2vw;
      padding: 1vw 1vw;
      box-sizing: border-box;
    }
    .photo {
      object-fit: cover;
      width: 100%;
      height: 100%;

      border-radius: 0px;
      box-shadow: 0 10px 40px rgba(0,0,0,0.7);
      transition: transform 0.4s ease;
       background: #111;     
    }
    .photo:hover {
      transform: scale(1.01);
      z-index: 10;
    }

    /* позиціонування конкретних фото */
    .photo-1 { grid-area: 1 / 1 / 3 / 2; 
     }          /* великий лівий портрет */
    .photo-2 { grid-area: 1 / 2 / 2 / 3;  }          /* середній верхній */
    .photo-3 { grid-area: 2 / 2 / 3 / 3;  }          /* середній нижній */
    .photo-4 { grid-area: 1 / 3 / 3 / 4;    }          /* великий правий портрет */

    .photo-5 {
    grid-area: 3 / 1 / 4 / 2; 
   }
    .photo-6 {    
 grid-area: 4 / 1 / 5 / 2; 
         }

      .photo-7 {    
 grid-area: 3 / 2 / 5 / 3; 
     scale: 100%;
    }
         .photo-13 {    
 grid-area: 6 / 1 / 8 / 2; 
     scale: 100%;
    }
     .photo-14 {    
 grid-area: 6 / 2 / 8 / 3; 
     scale: 100%;
    }

/*                                               MOBILE                                     */
@media screen and (min-width: 375px) and (max-width: 767px) {
  .hero-desc {
    font-size: 20px;
    max-width: 290px;
  }
  .button-hero-cont {
    justify-content: flex-start;
    gap: 32px 14px;
    flex-wrap: wrap;
  }
  .hero-buttons {
    gap: 12px;
  }
  .icon-scroll-down {
    width: 16px;
    height: 160px;
  }
  .scroll-down {
    font-size: 12px;
    line-height: 1.17;
  }
  .scroll-down-button {
    width: 28px;
    height: 28px;
  }
}
/*                                               tablet                               */

@media screen and (min-width: 768px) {
  .hero {
    max-width: 704px;
    padding: 40px;
    margin: 0px auto 50px;
    height: 890px;
  }

  .hero-desc {
    max-width: 484px;
  }
}
/*                                   DESKTOP                                      */
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1920px;
    margin: 0px auto;
    position: relative;
      height: auto;
      min-height: auto;
      overflow: hidden;
      display: grid;
      padding-top: 0px;
  }
  .hero-desc {
    position: absolute;
    font-size: 70px;
    font-style: inherit;
    max-width: 480px;
    text-align: right;
    right: 4vw;
    top: 2vh;
   z-index: 30;
  }

  .hero-desc-2 {
  font-weight: 350;
  font-size: 34px;
  line-height: 1.6;
  letter-spacing: -0.03em;
  color: var(--primary-font-color);
    right: 5vw;
    top: 8vh;
right: 12vh;
  max-width: 408px;
   z-index: 30;
}
}
/*                                               0-374px                                     */
@media screen and (max-width: 374px) {
  .hero {
    max-width: 280px;
    padding: 15px;
    margin: 0px auto 71px;
    overflow: auto;
    height: 600px;
  }

  .hero-desc {
    font-size: 18px;
    max-width: 260px;
  }

  .button-hero-cont {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 14px;
  }
  .hero-buttons {
    flex-wrap: wrap;
  }
  .scroll-down {
    font-size: 12px;
    line-height: 1.17;
  }
  .scroll-down-button {
    width: 28px;
    height: 28px;
  }
}

