<section id="about" class="about adv-wrap">
  <div class="container advantages-container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="list adv-list">

      <li class="adv-list-item">
        <div class="adv-icon-circle">
          <svg width="32px" height="32px" class="adv-icon">
            <use href="/img/sprite.svg#icon-camera"></use>
          </svg>
        </div>

        <p class="adv-hdr">Über mich</p>
        <p class="advantages-text">
              Ich fotografiere Menschen und ihre Geschichten – ruhig, ehrlich und mit viel Feingefühl.<br>
Meine Bilder sind emotional und zeitlos, mit Fokus auf echte Momente und Verbindungen. Ich arbeite minimalistisch, ruhig und mit einem zeitlosen Blick auf Menschen und ihre Verbindung zueinander.
<br>
Mich inspirieren natürliches Licht, klare Kompositionen und die kleinen, oft unbeobachteten Augenblicke, die eine Geschichte erzählen.
<br>So entstehen Bilder, die persönlich sind und bleiben.<br>

Beim Shooting nehme ich mir Zeit, begleite euch aufmerksam und helfe sanft beim Posing – so entstehen natürliche, emotionale Bilder, die sich leicht und echt anfühlen.</p>
      </li>

      <li class="adv-list-item">
        <img src="/img/uber.jpg" class="photo-4" alt="">
      </li>
          

    </ul>
  </div>
</section>
