<section id="about" class="about adv-wrap">
  <div class="container advantages-container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="list adv-list">

      <li class="adv-list-item">
        <div class="adv-icon-circle">
          <svg width="32px" height="32px" class="adv-icon">
            <use href="/img/sprite.svg#icon-camera"></use>
          </svg>
        </div>

        <p class="adv-hdr">Über mich</p>
        <p class="advantages-text">
        Mein Name ist Sofiia Yaroshenko und ich arbeite als selbständige Fotografin in München. <br>

Mein Fokus liegt auf Portrait-, Hochzeits- und Eventfotografie. Außerdem begleite ich Paar-, Familien- und individuelle Shootings. Einen Einblick in meine Arbeit findet Ihr auf meiner Webseite und auf Instagram.
<br>
Ich fotografiere ruhig und aufmerksam, mit einem natürlichen Blick für Licht, Stimmung und Details. Meine Bilder sind reduziert, ästhetisch und emotional — sie sollen sich leicht anfühlen und wirklich zu Euch passen.
<br>
Ob im Standesamt, in der Kirche, bei Euch Zuhause oder draußen in natürlichem Licht: Mir ist wichtig, echte Momente festzuhalten, ohne dass sich etwas gestellt anfühlt. Dabei begleite ich Euch dezent und gebe sanfte Hilfestellung, damit natürliche und entspannte Aufnahmen entstehen.
<br>
Viele Menschen fühlen sich anfangs unsicher vor der Kamera — das ist völlig normal. Deshalb lege ich großen Wert auf eine angenehme Atmosphäre und eine ruhige Zusammenarbeit.
<br>
Ich freue mich darauf, Euch und Eure Geschichte kennenzulernen.
<br>
<br>
Herzliche Grüße  <br>
Sofiia Yaroshenko
        </p>
      </li>

      <li class="adv-list-item">
        <img src="/img/uber.jpg" class="photo-uber" alt="">
      </li>
          

    </ul>
  </div>
</section>
