<section id="about" class="about adv-wrap">
  <div class="container advantages-container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="list adv-list">

      <li class="adv-list-item">
        <div class="adv-icon-circle">
          <svg width="32px" height="32px" class="adv-icon">
            <use href="/img/sprite.svg#icon-camera"></use>
          </svg>
        </div>

        <p class="adv-hdr">Über mich</p>
        <p class="advantages-text">
          <br>
     Ich bin Portrait- und Hochzeitsfotografin aus München.
<br>
<br>
Meine Arbeit verbindet natürliche Emotionen mit einer ruhigen, ästhetischen Bildsprache.
<br> <br>
Mir ist wichtig, dass sich Menschen vor der Kamera wohlfühlen, damit echte und persönliche Momente sichtbar werden.
<br> <br>
So entstehen Erinnerungen, die sich leicht, emotional und persönlich anfühlen.
<br>
<br>
Herzliche Grüße  <br>
Sofiia Yaroshenko
        </p>
      </li>

      <li class="adv-list-item">
        <img src="/img/uber.jpg" class="photo-uber" alt="">
      </li>
          

    </ul>
  </div>
</section>
