<section id="gallery" class="section__our-products">
  <div class="our-products__container container">
    <h2 class="our-products__title">
      GALERIE
    </h2>

    <div class="our-products__block">
      <ul class="our-products__list swiper-wrapper list">

        <li class="our-products__item swiper-slide">

              <img 
  src="/img/hero/img-13.jpg"               
  srcset="
    /img/hero/img-13-480.jpg   480w,
    /img/hero/img-13-800.jpg   800w,
    /img/hero/img-13-1200.jpg 1200w,
     "
  sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 
         380px"                                 
  width="250" 
                             
  loading="eager"
  class="our-products__image" alt="gallery1"
/>
          <div class="our-products__descr">
            <h3 class="our-products__name">Personal / Event</h3>
            <p class="our-products__type">Beispiel mit mehreren Fotos</p>
            <button class="our-products__price open-gallery" data-gallery="personal">Fotos</button>
          </div>
        </li>

    
        <li class="our-products__item swiper-slide">
                      <img 
  src="/img/hero/img-7.jpg"               
  srcset="
    /img/hero/img-7-480.jpg   480w,
    /img/hero/img-7-800.jpg   800w,
    /img/hero/img-7-1200.jpg 1200w,
     "
  sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 
         380px"                                 
  width="250"           
  loading="eager"
  class="our-products__image" alt="gallery1"
/>
          <div class="our-products__descr">
            <h3 class="our-products__name">Hochzeiten</h3>
            <p class="our-products__type">Beispiel mit mehreren Fotos</p>
            <button class="our-products__price open-gallery" data-gallery="hochzeiten">Fotos</button>
          </div>
        </li>

        <li class="our-products__item swiper-slide">
                        <img 
  src="/img/hero/img-35.jpg"               
  srcset="
    /img/hero/img-34-480.jpg   480w,
    /img/hero/img-34-800.jpg   800w,
    /img/hero/img-34-1200.jpg 1200w,
     "
  sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 
         380px"                                 
  width="250"           
  loading="eager"
  class="our-products__image" alt="gallery1"
/>
          <div class="our-products__descr">
            <h3 class="our-products__name">Hochzeitspaket</h3>
            <p class="our-products__type">Beispiel mit mehreren Fotos</p>
            <button class="our-products__price open-gallery" data-gallery="hochzeitspaket">Fotos</button>
          </div>
        </li>
       </ul>
    


    <!-- Приховані галереї (не видно на сторінці) -->
<div class="hidden-galleries">
  <!-- personal -->
  <div class="personal-gallery item_gallery" id="personal" style="display: none;">
    <a href="img/hero/img-1.jpg" data-title="img1">
    <img 
        src="img/hero/img-1.jpg"               
        srcset="img/hero/img-1-480.jpg   480w,
                img/hero/img-1-800.jpg   800w,
                img/hero/img-1-1200.jpg 1200w,"
             sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 380px" loading="eager" alt="gallery1" />
    </a>
    <a href="img/hero/img-3.jpg" data-title="img1">
    <img 
        src="img/hero/img-3.jpg"               
        srcset=" img/hero/img-3-480.jpg   480w,
                 img/hero/img-3-800.jpg   800w,
                 img/hero/img-3-1200.jpg 1200w,"
             sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 380px" loading="eager" alt="gallery1" />
    </a>
       <a href="img/hero/img-20.jpg" data-title="img1">
    <img 
        src="img/hero/img-20.jpg"               
        srcset=" img/hero/img-20-480.jpg   480w,
                 img/hero/img-20-800.jpg   800w,
                 img/hero/img-20-1200.jpg 1200w,"
             sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 380px" loading="eager" alt="gallery1" />
    </a>
     </a>
       <a href="img/hero/img-11.jpg" data-title="img1">
      <img 
        src="img/hero/img-11.jpg"               
        srcset=" img/hero/img-11-480.jpg   480w,
                 img/hero/img-11-800.jpg   800w,
                 img/hero/img-11-1200.jpg 1200w,"
             sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 380px" loading="eager" alt="gallery1" />
    </a>
     </a>
       <a href="img/hero/img-16.jpg" data-title="img1">
        <img 
        src="img/hero/img-16.jpg"               
        srcset=" img/hero/img-16-480.jpg   480w,
                 img/hero/img-16-800.jpg   800w,
                 img/hero/img-16-1200.jpg 1200w,"
             sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 380px" loading="eager" alt="gallery1" />
    </a>
      <a href="img/hero/img-10.jpg" data-title="img1">
        <img 
        src="img/hero/img-10.jpg"               
        srcset=" img/hero/img-10-480.jpg   480w,
                 img/hero/img-10-800.jpg   800w,
                 img/hero/img-10-1200.jpg 1200w,"
             sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 380px" loading="eager" alt="gallery1" />
    </a>
      <a href="img/hero/img-25.jpg" data-title="img1">
        <img 
        src="img/hero/img-25.jpg"               
        srcset=" img/hero/img-25-480.jpg   480w,
                 img/hero/img-25-800.jpg   800w,
                 img/hero/img-25-1200.jpg 1200w,"
             sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 380px" loading="eager" alt="gallery1" />
    </a>
      <a href="img/hero/img-26.jpg" data-title="img1">
        <img 
        src="img/hero/img-26.jpg"               
        srcset=" img/hero/img-26-480.jpg   480w,
                 img/hero/img-26-800.jpg   800w,
                 img/hero/img-26-1200.jpg 1200w,"
             sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 380px" loading="eager" alt="gallery1" />
    </a>
      <a href="img/hero/img-21.jpg" data-title="img1">
        <img 
        src="img/hero/img-21.jpg"               
        srcset=" img/hero/img-21-480.jpg   480w,
                 img/hero/img-21-800.jpg   800w,
                 img/hero/img-21-1200.jpg 1200w,"
             sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 380px" loading="eager" alt="gallery1" />
    </a>
      <a href="img/hero/img-22.jpg" data-title="img1">
        <img 
        src="img/hero/img-22.jpg"               
        srcset=" img/hero/img-22-480.jpg   480w,
                 img/hero/img-22-800.jpg   800w,
                 img/hero/img-22-1200.jpg 1200w,"
             sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 380px" loading="eager" alt="gallery1" />
    </a>
  </div>

  <!-- hochzeiten -->
  <div class="hochzeiten-gallery item_gallery" id="hochzeiten" style="display: none;">
    <a href="img/hero/img-4.jpg" data-title="img1">
        <img 
        src="img/hero/img-4.jpg"               
        srcset=" img/hero/img-4-480.jpg   480w,
                 img/hero/img-4-800.jpg   800w,
                 img/hero/img-4-1200.jpg 1200w,"
             sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 380px" loading="eager" alt="gallery2" />
    </a>
    <a href="img/hero/img-2.jpg" data-title="img1">
        <img 
        src="img/hero/img-2.jpg"               
        srcset=" img/hero/img-2-480.jpg   480w,
                 img/hero/img-2-800.jpg   800w,
                 img/hero/img-2-1200.jpg 1200w,"
             sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 380px" loading="eager" alt="gallery2" />
    </a>
    <a href="img/hero/img-6.jpg" data-title="img1">
        <img 
        src="img/hero/img-6.jpg"               
        srcset=" img/hero/img-6-480.jpg   480w,
                 img/hero/img-6-800.jpg   800w,
                 img/hero/img-6-1200.jpg 1200w,"
             sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 380px" loading="eager" alt="gallery2" />
    </a>
    <a href="img/hero/img-7.jpg" data-title="img1">
        <img 
        src="img/hero/img-7.jpg"               
        srcset=" img/hero/img-7-480.jpg   480w,
                 img/hero/img-7-800.jpg   800w,
                 img/hero/img-7-1200.jpg 1200w,"
             sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 380px" loading="eager" alt="gallery2" />
    </a>
    <a href="img/hero/img-12.jpg" data-title="img1">
        <img 
        src="img/hero/img-12.jpg"               
        srcset=" img/hero/img-12-480.jpg   480w,
                 img/hero/img-12-800.jpg   800w,
                 img/hero/img-12-1200.jpg 1200w,"
             sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 380px" loading="eager" alt="gallery2" />
    </a>
    <a href="img/hero/img-27.jpg" data-title="img1">
        <img 
        src="img/hero/img-27.jpg"               
        srcset=" img/hero/img-27-480.jpg   480w,
                 img/hero/img-27-800.jpg   800w,
                 img/hero/img-27-1200.jpg 1200w,"
             sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 380px" loading="eager" alt="gallery2" />
    </a>
    <a href="img/hero/img-28.jpg" data-title="img1">
        <img 
        src="img/hero/img-28.jpg"               
        srcset=" img/hero/img-28-480.jpg   480w,
                 img/hero/img-28-800.jpg   800w,
                 img/hero/img-28-1200.jpg 1200w,"
             sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 380px" loading="eager" alt="gallery2" />
    </a>
    <a href="img/hero/img-29.jpg" data-title="img1">
        <img 
        src="img/hero/img-29.jpg"               
        srcset=" img/hero/img-29-480.jpg   480w,
                 img/hero/img-29-800.jpg   800w,
                 img/hero/img-29-1200.jpg 1200w,"
             sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 380px" loading="eager" alt="gallery2" />
    </a>
   </div>
</div>
    
  <!-- hochzeitspaket -->
  <div class="hochzeitspaket-gallery item_gallery" id="hochzeitspaket" style="display: none;">

   <a href="img/hero/img-35.jpg" data-title="img1">
        <img 
        src="img/hero/img-35.jpg"               
        srcset=" img/hero/img-35-480.jpg   480w,
                 img/hero/img-35-800.jpg   800w,
                 img/hero/img-35-1200.jpg 1200w,"
             sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 380px" loading="eager" alt="gallery3" />
    </a>
      <a href="img/hero/img-33.jpg" data-title="img1">
        <img 
        src="img/hero/img-33.jpg"               
        srcset=" img/hero/img-33-480.jpg   480w,
                 img/hero/img-33-800.jpg   800w,
                 img/hero/img-33-1200.jpg 1200w,"
             sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 380px" loading="eager" alt="gallery3" />
    </a>
      <a href="img/hero/img-34.jpg" data-title="img1">
        <img 
        src="img/hero/img-34.jpg"               
        srcset=" img/hero/img-34-480.jpg   480w,
                 img/hero/img-34-800.jpg   800w,
                 img/hero/img-34-1200.jpg 1200w,"
             sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 380px" loading="eager" alt="gallery3" />
    </a>
      <a href="img/hero/img-36.jpg" data-title="img1">
        <img 
        src="img/hero/img-36.jpg"               
        srcset=" img/hero/img-36-480.jpg   480w,
                 img/hero/img-36-800.jpg   800w,
                 img/hero/img-36-1200.jpg 1200w,"
             sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 380px" loading="eager" alt="gallery3" />
    </a>
      <a href="img/hero/img-31.jpg" data-title="img1">
        <img 
        src="img/hero/img-31.jpg"               
        srcset=" img/hero/img-31-480.jpg   480w,
                 img/hero/img-31-800.jpg   800w,
                 img/hero/img-31-1200.jpg 1200w,"
             sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 380px" loading="eager" alt="gallery3" />
    </a>
      <a href="img/hero/img-30.jpg" data-title="img1">
        <img 
        src="img/hero/img-30.jpg"               
        srcset=" img/hero/img-30-480.jpg   480w,
                 img/hero/img-30-800.jpg   800w,
                 img/hero/img-30-1200.jpg 1200w,"
             sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 380px" loading="eager" alt="gallery3" />
    </a>
      <a href="img/hero/img-32.jpg" data-title="img1">
        <img 
        src="img/hero/img-32.jpg"               
        srcset=" img/hero/img-32-480.jpg   480w,
                 img/hero/img-32-800.jpg   800w,
                 img/hero/img-32-1200.jpg 1200w,"
             sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 380px" loading="eager" alt="gallery3" />
    </a>

  </div>
</div>

      </div>
    <div class="our_products__swiper-pagination"></div>
  </div>
</section>