<section id="hero" class="hero">
  
  <div class="gallery">

    <h1 class="hero-title visually-hidden">Hero</h1>
    <h2 class="hero-desc">
      MÜNCHEN
    </h2>
    <h3 class="hero-desc-2">fotografin</h3>

<img 
  src="/img/hero/img-1.jpg"               
  srcset="
    /img/hero/img-1-480.jpg   480w,
    /img/hero/img-1-800.jpg   800w,
    /img/hero/img-1-1200.jpg 1200w,
     "
  sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 
         380px"                                 
  width="1600" 
  height="1200"                               
  loading="lazy"
  class="photo photo-1" alt="main-page-photo"
/>
<img 
  src="/img/hero/img-2.jpg"               
  srcset="
    /img/hero/img-2-480.jpg   480w,
    /img/hero/img-2-800.jpg   800w,
    /img/hero/img-2-1200.jpg 1200w,
     "
  sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 
         380px"                                 
  width="1600" 
  height="1200"                               
  loading="lazy"
  class="photo photo-2" alt="main-page-photo"
/>
<img 
  src="/img/hero/img-3.jpg"               
  srcset="
    /img/hero/img-3-480.jpg   480w,
    /img/hero/img-3-800.jpg   800w,
    /img/hero/img-3-1200.jpg 1200w,
     "
  sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 
         380px"                                 
  width="1600" 
  height="1200"                               
  loading="lazy"
  class="photo photo-3" alt="main-page-photo"
/>
<img 
  src="/img/hero/img-4.jpg"               
  srcset="
    /img/hero/img-4-480.jpg   480w,
    /img/hero/img-4-800.jpg   800w,
    /img/hero/img-4-1200.jpg 1200w,
     "
  sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 
         380px"                                 
  width="1600" 
  height="1200"                               
  loading="lazy"
  class="photo photo-4" alt="main-page-photo"
/>
<img 
  src="/img/hero/img-5.jpg"               
  srcset="
    /img/hero/img-5-480.jpg   480w,
    /img/hero/img-5-800.jpg   800w,
    /img/hero/img-5-1200.jpg 1200w,
     "
  sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 
         380px"                                 
  width="1600" 
  height="1200"                               
  loading="lazy"
  class="photo photo-5" alt="main-page-photo"
/>
<img 
  src="/img/hero/img-6.jpg"               
  srcset="
    /img/hero/img-6-480.jpg   480w,
    /img/hero/img-6-800.jpg   800w,
    /img/hero/img-6-1200.jpg 1200w,
     "
  sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 
         380px"                                 
  width="1600" 
  height="1200"                               
  loading="lazy"
  class="photo photo-6" alt="main-page-photo"
/>
<img 
  src="/img/hero/img-7.jpg"               
  srcset="
    /img/hero/img-7-480.jpg   480w,
    /img/hero/img-7-800.jpg   800w,
    /img/hero/img-7-1200.jpg 1200w,
     "
  sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 
         380px"                                 
  width="1600" 
  height="1200"                               
  loading="lazy"
  class="photo photo-7" alt="main-page-photo"
/>
<img 
  src="/img/hero/img-8.jpg"               
  srcset="
    /img/hero/img-8-480.jpg   480w,
    /img/hero/img-8-800.jpg   800w,
    /img/hero/img-8-1200.jpg 1200w,
     "
  sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 
         380px"                                 
  width="1600" 
  height="1200"                               
  loading="lazy"
  class="photo photo-8" alt="main-page-photo"
/>
<img 
  src="/img/hero/img-9.jpg"               
  srcset="
    /img/hero/img-9-480.jpg   480w,
    /img/hero/img-9-800.jpg   800w,
    /img/hero/img-9-1200.jpg 1200w,
     "
  sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 
         380px"                                 
  width="1200" 
height="1600"                              
  loading="lazy"
  class="photo photo-9" alt="main-page-photo"
/>
<img 
  src="/img/hero/img-10.jpg"               
  srcset="
    /img/hero/img-10-480.jpg   480w,
    /img/hero/img-10-800.jpg   800w,
    /img/hero/img-10-1200.jpg 1200w,
     "
  sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 
         380px"                                 
  width="1200" 
height="1600"                              
  loading="lazy"
  class="photo photo-10" alt="main-page-photo"
/>
<img 
  src="/img/hero/img-11.jpg"               
  srcset="
    /img/hero/img-11-480.jpg   480w,
    /img/hero/img-11-800.jpg   800w,
    /img/hero/img-11-1200.jpg 1200w,
     "
  sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 
         380px"                                 
width="1200" 
height="1600"                              
  loading="lazy"
  class="photo photo-11" alt="main-page-photo"
/>
<img 
  src="/img/hero/img-12.jpg"               
  srcset="
    /img/hero/img-12-480.jpg   480w,
    /img/hero/img-12-800.jpg   800w,
    /img/hero/img-12-1200.jpg 1200w,
     "
  sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 
         380px"                                 
  width="1600" 
  height="1200"                               
  loading="lazy"
  class="photo photo-12" alt="main-page-photo"
/>
<img 
  src="/img/hero/img-13.jpg"               
  srcset="
    /img/hero/img-13-480.jpg   480w,
    /img/hero/img-13-800.jpg   800w,
    /img/hero/img-13-1200.jpg 1200w,
     "
  sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 
         380px"                                 
  width="1600" 
  height="1200"                               
  loading="lazy"
  class="photo photo-13" alt="main-page-photo"
/>
<img 
  src="/img/hero/img-14.jpg"               
  srcset="
    /img/hero/img-14-480.jpg   480w,
    /img/hero/img-14-800.jpg   800w,
    /img/hero/img-14-1200.jpg 1200w,
     "
  sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 
         380px"                                 
  width="1600" 
  height="1200"                               
  loading="lazy"
  class="photo photo-14" alt="main-page-photo"
/>
<img 
  src="/img/hero/img-15.jpg"               
  srcset="
    /img/hero/img-15-480.jpg   480w,
    /img/hero/img-15-800.jpg   800w,
    /img/hero/img-15-1200.jpg 1200w,
     "
  sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 
         380px"                                 
  width="1600" 
  height="1200"                               
  loading="lazy"
  class="photo photo-15" alt="main-page-photo"
/>
<img 
  src="/img/hero/img-16.jpg"               
  srcset="
    /img/hero/img-16-480.jpg   480w,
    /img/hero/img-16-800.jpg   800w,
    /img/hero/img-16-1200.jpg 1200w,
     "
  sizes="(max-width: 767px) 100vw, 
         (max-width: 1199px) 50vw, 
         380px"                                 
  width="1600" 
  height="1200"                               
  loading="lazy"
  class="photo photo-16" alt="main-page-photo"
/>


 <!-- <img src="/img/hero/img-1.jpg" class="photo photo-1" alt="">
 <img src="/img/hero/img-2.jpg"  class="photo photo-2" alt="">
 <img src="/img/hero/img-3.jpg" class="photo photo-3" alt="">
 <img src="/img/hero/img-4.jpg" class="photo photo-4" alt="">
    <!-- накладені маленькі фото -->
 <!-- <img src="/img/hero/img-11.jpg" class="photo photo-5" alt="">
 <img src="/img/hero/img-5.jpg"  class="photo photo-6" alt="">
 <img src="/img/hero/img-6.jpg" class="photo photo-7" alt="">
 <img src="/img/hero/img-7.jpg" class="photo photo-8" alt="">
 <img src="/img/hero/img-8.jpg" class="photo photo-9" alt="">
 <img src="/img/hero/img-9.jpg"  class="photo photo-10" alt="">
 <img src="/img/hero/img-10.jpg" class="photo photo-11" alt="">
 <img src="/img/hero/img-11.jpg" class="photo photo-12" alt="">
 <img src="/img/hero/img-12.jpg" class="photo photo-13" alt="">
 <img src="/img/hero/img-13.jpg" class="photo photo-14" alt="">
 <img src="/img/hero/img-1.jpg" class="photo photo-15" alt="">
 <img src="/img/hero/img-1.jpg" class="photo photo-16" alt=""> -->
  
 
</div>

    <div class="button-hero-cont">
      <div class="scroll-down-cont">
        <p class="scroll-down">nach unten scrollen</p>
        <a class="scroll-down-button" href="#footer">
          <svg class="icon-scroll-down" width="22" height="22">
            <use href="/img/sprite.svg#icon-scroll-down"></use>
          </svg>
        </a>
      </div>
    </div>
</section>